.row div {
    display: inline-block;
    border: 1px solid white;
    padding: 0.5em;
    margin: 0.5em;
    border-radius: .5px;
    width: .6em;
    height: .6em;
    font-family: "universal";
    font-size: large;
    font-weight: bold;
    font-style: oblique;
    border-radius: 2.5px;
    background: linear-gradient(315deg, #ea1500, #3e0000);
    box-shadow: -.5px -.5px 1.0px #808080, .5px .5px 1.0px #6a6a6a;
    color: white;
    vertical-align: top;
}

    .row div span {
        font-size: small;
        font-style: normal;
        color: #FFFFFF;
    }

.row .wide0 {
    width: .8em;
}

.row .wide1 {
    width: 1.0em;
}

.row .wide2 {
    width: 1.4em
}

.row .wide3 {
    width: 1.4em
}

.row .wide4 {
    width: 1.79em
}

.row .spacebar {
    width: 4.9em
}

.kb {
    border: 1px solid black;
    border-radius: .5px;
    padding: .2em;
    margin: .1em;
    background-color: #606060;
    width: 14.0em;
    background: #000000;
    box-shadow: 2.0px 2.0px 6.0px #525252, inset -2.0px -2.0px 6.0px #6e6e6e;
}

body {
    background: #000000;
    color: white;
    zoom: 90%;
}
